.icons {
    background-color: #333333;
    padding: 120px 0 100px;
}

.icons__wrapper {
    display: flex;
    justify-content: space-around;
    position: relative;
    z-index: 1;
}

.icons__wrapper::after {
    position: absolute;
    content: '';
    left: 50%;
    top: -50px;
    transform: translateX(-50%);
    width: 100%;
    max-width: 780px;
    height: 100px;
    background-image: url('../img/lines.svg');
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1; 

}

.icons__inner {
    text-align: center;
    background: #333333;
    border-radius: 50% 50% 0 0;
    img {
        margin-bottom: 35px;
    }
}

.icons__text {
    font-family: 'Aleo', serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.2;
}
