* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: black;
}

h2 {
  font-size: 36px; 
  line-height: 1em; 
}
sup {
  font-size: 15px; }
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
header {
  padding: 12px 0;
  margin-bottom: 10px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
}
ul {
  display: flex;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

.header__lang {
  margin-right: 10px;
  font-size: 20px;
  font-weight: 900;
  color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;

}

.text__background {
  background-color: #EDEDED;
}